@media (hover: none) {
  a:hover { color: inherit; }
}

@media only screen and (max-width: 600px) {
    nav img {
        display: none;
    }
    .intro .bg {
        align-items: stretch;
        margin: 0 -20px;
    }

    .intro .bg .textBox {
        position: initial;
        padding: 20px;
        background: linear-gradient(to top, rgba(241,241,241,1) 0%,rgba(241,241,241,0) 100%); 
    }

    .intro .bg .textBox h1 {
        font-size: 22px;
    }

    .row {
        flex-direction: column;
    }

    .contact .form div:last-of-type {
        flex-direction: row;
    }

    .row .card {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }

    .contact > div {
        width: auto;
        padding: 0 20px;
    }

    #pris {
        max-width: initial;
    }
}