.slideshow {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    padding: 30px 0;
    display: block;
    flex-direction: row;
    padding: 0;
}

.slideshow .slider {
    transition: 400ms transform;
    flex-direction: row;
    height: 100%;
}

.slideshow .slider div {
    background-size: cover;
    background-position: center;
    /* width: 100vw; */
}

.slideshow .dotContainer {
    position: absolute;
    bottom: 50px;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.slideshow .dotContainer input {
    height: 12px;
    width: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 200ms;
    border-radius: 50%;
    margin: 0 7px;
    -webkit-appearance: none;
    border: 0;
    flex-grow: 0;
}

.slideshow .dotContainer input:hover, .slideshow .dotContainer input:checked {
    background-color: rgba(255, 255, 255, 1);
}